@font-face {
  font-family: PPNeueMontrealMono-Light;
  src: url('./fonts/PPNeueMontrealMono-Light.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: PPNeueMontrealMono-Bold;
  src: url('./fonts/PPNeueMontrealMono-Bold.woff2') format('woff2');
  font-weight: 800;
}

html, body {
  margin: 0;
  padding: 0;
  height: fit-content;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  background: #101010;
  cursor: url('./img/icons/cursor-red.png'), auto;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: line-through;
  cursor: url('./img/icons/cursor-red-hover.png') 15 15, auto;
}

.home {
  height: fit-content;
  position: fixed;
  top: 0vh;
  z-index: 100;
  margin: auto;
  width: 100%;
}

.home .home-text {
  width: 50%;
  margin: auto;
  display: grid;
  place-items: center;
  padding: 10px;
}

.home .home-text p {
  width: fit-content;
  height: auto;
  z-index: 0;
  font-family: "PPNeueMontrealMono-Bold";
  color: #E75757;
  font-size: 1rem;
  letter-spacing: 0.2em;
  text-align: center;
  line-height: 0rem;
  font-feature-settings: normal;
  position: relative;
  text-decoration: line-through;
  text-decoration-thickness: 0.2rem;
}

.home a:hover {
  text-decoration: line-through;
  text-decoration-color: #E75757;
  text-decoration-thickness: 0.2rem;
}

.artworks {
  height: fit-content;
  position: fixed;
  z-index: 100;
  transform: rotate(-90deg);
  top: 50vh;
  left: 0vw;
}

.artworks .artworks-text {
  display: grid;
  align-items: center;
  height: 100%;
}

.artworks .artworks-text p {
  width: fit-content;
  height: auto;
  z-index: 0;
  font-family: "PPNeueMontrealMono-Bold";
  color: #43C83E;
  font-size: 1rem;
  letter-spacing: 0.2em;
  text-align: center;
  line-height: 0rem;
  font-feature-settings: normal;
  position: relative;
}

.artworks a:hover {
  text-decoration: line-through;
  text-decoration-color: #43C83E;
  text-decoration-thickness: 0.2rem;
}

.essays {
  height: fit-content;
  position: fixed;
  z-index: 100;
  transform: rotate(-90deg);
  top: 50vh;
  right: 0vw;
}

.essays .essays-text {
  display: grid;
  align-items: center;
  height: 100%;
}

.essays .essays-text p {
  width: fit-content;
  height: auto;
  z-index: 0;
  font-family: "PPNeueMontrealMono-Bold";
  color: #5789E7;
  font-size: 1rem;
  letter-spacing: 0.2em;
  text-align: center;
  line-height: 0rem;
  font-feature-settings: normal;
  position: relative;
}

.essays a:hover {
  text-decoration: line-through;
  text-decoration-color: #5789E7;
  text-decoration-thickness: 0.2rem;
}

.instagram {
  display: flex;
  flex-direction: row;
  gap: 15vw;
  justify-content: center;
  height: fit-content;
  position: fixed;
  bottom: 0vh;
  z-index: 100;
  margin: auto;
  width: 100%;
}

.instagram .instagram-text {
  display: flex;
  place-items: center;
  padding: 10px 0px;
}

.instagram .instagram-text p {
  width: fit-content;
  height: auto;
  z-index: 0;
  font-family: "PPNeueMontrealMono-Bold";
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.2em;
  text-align: center;
  line-height: 0rem;
  font-feature-settings: normal;
  position: relative;
}

.instagram a:hover {
  text-decoration: line-through;
  text-decoration-color: #fff;
  text-decoration-thickness: 0.2rem;
}

.description {
  position: relative;
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 15vh 0;
}

.description-cont {
  display: flex;
  flex-direction: column;
  gap: 0vh;
  width: 100%;
  max-width: 70vw;
  margin: 0 auto;
  height: auto;
  position: relative;
  place-items: left;
}

.description p{
  font-family: "PPNeueMontrealMono-Light";
  color: #fff;
  font-size: 0.7rem;
  letter-spacing: 0em;
  text-align: justify;
  line-height: 1.5rem;
  font-feature-settings: normal;
  position: relative;
}

.description a{
  font-family: "PPNeueMontrealMono-Light";
  color: #43C83E;
  font-size: 0.7rem;
  letter-spacing: 0em;
  text-align: justify;
  line-height: 1.5rem;
  font-feature-settings: normal;
  position: relative;
}

.title {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  box-sizing: border-box;
  padding: 25vh 5vw 25vh 5vw;
}

.title-cont {
  gap: 0vh;
  width: 100%;
  max-width: 60vw;
  margin: 0 auto;
  height: fit-content;
  position: relative;
  place-items: center;
}

.title h1{
  font-family: "PPNeueMontrealMono-Bold";
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.3em;
  text-align: center;
  line-height: 2rem;
  font-feature-settings: normal;
  position: relative;
}

.title a:hover h1{
  text-decoration: line-through;
  text-decoration-thickness: 0.2rem;
}

a:hover, a:hover * {
  text-decoration: line-through;
  text-decoration-thickness: 0.2rem;
  text-decoration-skip-ink: none;
  -webkit-text-decoration: line-through;
  -webkit-text-decoration-thickness: 0.2rem;
  -webkit-text-decoration-skip: none;
}